{% extends "base.html" %}
{% block title %}서비스 소개 - GIVE ME NOW!{% endblock %}

{% block content %}
<main>
    <div class="wrap1">
        <h2 class="w_title">GIVE ME NOW</h2>
        <p class="w_subtitle">우리는 작사를 처음 시작하는분들을 위해 <strong>작사에 참고할만한 단어를 추천해주는 프로그램</strong>을 제작하고 있습니다.</p>
    </div>
    <div class="wrap2">
        <ul class="intro_image">
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
        </ul>
    </div>
</main>
{% endblock %}